<app-custom-stepper linear (selectionChange)="selectionChanged($event)">
  <cdk-step
    *ngFor="let step of steps; let i = index"
    [label]="step"
    [stepControl]="layerConfigService.stepFormGroups[i]"
    [completed]="layerConfigService.stepFormGroups[i].valid"
  >
    <router-outlet *ngIf="i === selectedStep"></router-outlet>
  </cdk-step>
</app-custom-stepper>
