:host {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .custom-fab-button {
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .toggle-icon {
    zoom: 1.4;
  }

  .button-text {
    max-width: 80%;
    white-space: pre-wrap;
  }
}
