<button
  mat-fab
  class="custom-fab-button"
  [@fabToggler]="{ value: fabTogglerState }"
  (click)="onToggleFab()"
>
  <div class="button-wrapper">
    <mat-icon
      class="toggle-icon"
      [style.color]="fabTogglerState === 'inactive' ? 'silver' : 'red'"
      >{{ config?.value?.icon }}</mat-icon
    >
    <div class="button-text">
      {{ config?.value?.key }}
    </div>
  </div>
</button>
