<ngx-hm-carousel
  [(ngModel)]="currentIndex"
  (ngModelChange)="indexChanged($event)"
  [infinite]="false"
  [disable-drag]="false"
  class="carousel c-accent"
  [between-delay]="2000"
  [mourse-enable]="true"
  [aniTime]="300"
  style="display: flex;"
>
  <section ngx-hm-carousel-container class="content">
    <article
      class="item cursor-pointer"
      ngx-hm-carousel-item
      *ngFor="let state of states; let i = index"
    >
      <div
        class="img"
        [style.min-height]="minHeight"
        [style.background]="state"
      >
        <app-result-message *ngIf="stepConfig?.response"></app-result-message>
        <form
          *ngIf="i === activeIndex && stepConfig?.options"
          [formGroup]="layerConfigService.stepFormGroups[i]"
        >
          <app-button-grid
            [formControlName]="layerConfigService.getLayerNameByIndex(i)"
            class="button-grid"
            [buttonConfig]="stepConfig?.options"
          >
          </app-button-grid>
        </form>
        <div *ngIf="i !== activeIndex" class="button-grid">
          <div *ngFor="let b of stepConfig.options | keyvalue"></div>
        </div>
      </div>
    </article>
  </section>

  <ng-template #carouselPrev>
    <div class="click-area left-arrow" *ngIf="currentIndex !== 0">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >chevron_left</mat-icon
      >
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div
      class="click-area"
      *ngIf="currentIndex !== states.length - 1 && !hiddeArrow"
      [@bounce]="bounce"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >chevron_right</mat-icon
      >
    </div>
  </ng-template>
</ngx-hm-carousel>
