.carousel {
  .content {
    display: flex;
    height: 100%;
    .item {
      width: 100%;
      height: 100%;
      .img {
        width: 100%;
        height: 100%;
        display: block;
        .button-grid {
          align-items: center;
          display: grid;
          grid-auto-columns: 38%;
          grid-auto-flow: row dense;
          grid-gap: 2vw;
          justify-items: center;
          grid-auto-rows: 140px;
          padding: 4% calc(50vw - 145px) 4% calc(50vw - 145px);
          grid-template-columns: 1fr 1fr;
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 4% calc(25vw - 60px) 4% calc(25vw - 60px);
          }
          @media only screen and (min-device-width: 1025px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 4% calc(15vw - 60px) 4% calc(15vw - 60px);
          }
          @media screen and (max-device-width: 330px) {
            grid-auto-rows: 120px;
            padding: 4% calc(50vw - 120px) 4% calc(50vw - 120px);
          }
        }
      }
    }
  }

  .aniT {
    transition: all 1s linear;
  }

  .transition {
    transition: all 0.3s ease-in-out !important;
  }

  .click-area {
    text-align: center;
    user-select: none;
    mat-icon {
      zoom: 3;
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  .left-arrow {
    opacity: 0.2;
  }
}
