.step-navigation-bar {
  display: flex;
  justify-content: center;
}

.app-header {
  text-align: center;
  h2 {
    margin: 6px 0 6px;
  }
}

.step-container {
  height: 100%;
}

.example-active {
  color: blue;
}

.example-step {
  background: transparent;
  border: 0;
  margin: 0 1%;
  padding: 10px;
  color: black;
}

.example-step.example-active {
  color: blue;
  border-bottom: 1px solid blue;
}

.example-nav-button {
  background: transparent;
  border: 0;
}
