<section class="example-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sintomas</mat-card-title>
      <mat-card-subtitle>Selecciona tus sintomas</mat-card-subtitle>
    </mat-card-header>
    <div class="step-navigation-bar">
      <button
        class="example-step"
        *ngFor="let step of steps; let i = index"
        [ngClass]="{ 'example-active': selectedIndex === i }"
        (click)="onClick(i)"
      >
        Step {{ i + 1 }}
      </button>
    </div>
  </mat-card>
  <div [style.display]="selected ? 'block' : 'none'" class="step-container">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</section>
