<div class="message-wrapper">
  <div class="box2 sb9">
    <div *ngIf="!loading" class="bubble-number">nº 45</div>
    <div *ngIf="!loading">
      Sus síntomas son compatibles con un posible caso de COVID-19. Por favor
      dirijete a la puerta sur oeste del hospital, la infermera al cargo te
      atenderá lo más rápido posible.
    </div>
    <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
    <div class="spinner">Por favor espera un momento...</div>
  </div>
  <div></div>
</div>
