.message-wrapper {
  padding-top: 4%;
}

.bubble-number {
  width: 130px;
  height: 130px;
  font-size: 34px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 4%;
}

.spinner {
  margin: auto;
  margin-bottom: 4%;
  stroke: white;
  ::ng-deep svg {
    circle {
      stroke: white;
    }
  }
}

.box2 {
  width: 300px;
  border: 4px solid white;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: white;
  font-family: arial;
  position: relative;
  border-radius: 30px;
}

.sb9:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 47%;
  bottom: -23px;
}

.sb9:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -18px;
}
