<h1 mat-dialog-title>Pick One</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <div class="button-group-wrapper">
    <mat-button-toggle-group
      name="fontStyle"
      (change)="pickNumber($event)"
      aria-label="Font Style"
      class="number-picker"
    >
      <mat-button-toggle class="toggle-button" value="bold"
        >1</mat-button-toggle
      >
      <mat-button-toggle class="toggle-button" value="italic"
        >2</mat-button-toggle
      >
      <mat-button-toggle class="toggle-button" value="underline"
        >14</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>
