.button-group-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.number-picker {
  zoom: 1.3;
  border: none;
  width: 100%;
}

.toggle-button {
  margin: 4%;
  border: solid gray !important;
  border-radius: 50%;
  width: 70px;
}
